<nav class="navbar">
    <div class="container">
        <p class="navbar-right">
            {{ctrl.owner.full_name}}

            <div class="col-sm-12 text-center">
                <a href="https://api.instagram.com/oauth/authorize/?client_id=969bac24265f46e38462e8d8bb4108fe&redirect_uri=http://localhost:8000/login.html&response_type=token"
                   class="btn btn-primary"
                   ng-if="!ctrl.loggedIn"
                >
                    Login
                </a>
            <p ng-if="ctrl.loggedIn">Logged in</p>
        </p>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="btn-group">
                <button class="btn btn-default"
                        ng-class="{'active': ctrl.viewMode === ctrl.HOME_TOGGLE_STATES.grid}"
                        ng-click="ctrl.switchView(ctrl.HOME_TOGGLE_STATES.grid)"
                >
                    <i class="fa fa-th"></i>
                </button>
                <button class="btn btn-default"
                        ng-class="{'active': ctrl.viewMode === ctrl.HOME_TOGGLE_STATES.list}"
                        ng-click="ctrl.switchView(ctrl.HOME_TOGGLE_STATES.list)"
                >
                    <i class="fa fa-list"></i>
                </button>
            </div>
            <media-grid media="ctrl.media" ng-if="ctrl.viewMode === ctrl.HOME_TOGGLE_STATES.grid"></media-grid>
            <media-list media="ctrl.media" ng-if="ctrl.viewMode === ctrl.HOME_TOGGLE_STATES.list"></media-list>
        </div>
    </div>
</div>
