<site-header current-state="ctrl.viewMode" on-state-change="ctrl.switchView(state)" display-states="true"></site-header>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2" ng-if="ctrl.viewMode === ctrl.HOME_TOGGLE_STATES.grid">
            <media-grid media="ctrl.media" items-per-group="4"></media-grid>
        </div>
        <div class="col-sm-6 col-sm-offset-3" ng-if="ctrl.viewMode === ctrl.HOME_TOGGLE_STATES.list">
            <media-list media="ctrl.media"></media-list>
        </div>
    </div>
</div>
