<nav class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="pull-left" ng-if="ctrl.displayStates === 'true'">
                    <div class="btn-group">
                        <button class="btn btn-default"
                                ng-class="{'active': ctrl.currentState === ctrl.HOME_TOGGLE_STATES.grid}"
                                ng-click="ctrl.onStateChange({'state': ctrl.HOME_TOGGLE_STATES.grid})"
                        >
                            <i class="fa fa-th"></i>
                        </button>
                        <button class="btn btn-default"
                                ng-class="{'active': ctrl.currentState === ctrl.HOME_TOGGLE_STATES.list}"
                                ng-click="ctrl.onStateChange({'state': ctrl.HOME_TOGGLE_STATES.list})"
                        >
                            <i class="fa fa-list"></i>
                        </button>
                    </div>
                </div>
                <div class="pull-right">
                    <p>
                        Welcome {{ctrl.owner.full_name}}
                    </p>
                    <a ng-click="ctrl.logout()">Logout</a>
                </div>

            </div>
        </div>
    </div>
</nav>